nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

nav a:hover {
    color: #007bff;
}

nav img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 10px;
}
